In [1]:
a = (1,2,3)
a

(1, 2, 3)

In [3]:
a = (1,"2")
type(a)

tuple

In [4]:
b,c = 3,4
print(b)
print(c)
e = 5,6
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

In [6]:
e[-2]

5

In [7]:
f = (1,2,3,4,5,6)
print(f[0:4])

(1, 2, 3, 4)

# Tuple is Immutable
# You cannot add / update / delete  in tuple but you can delete the tuple

In [8]:
f[3] = 7
f

TypeError: 'tuple' object does not support item assignment

In [9]:
del f

In [10]:
f

NameError: name 'f' is not defined

In [11]:
a = (1,2,3)
b = 4,5

for i in a:
    print(i)

1
2
3

In [12]:
1 in a

True

In [13]:
1 in b

False

In [14]:
len(a)

3

# Concatenation in Tuples

In [15]:

c = a + b
c

(1, 2, 3, 4, 5)

In [16]:
d = (a,b)
d

((1, 2, 3), (4, 5))

In [17]:
d = a,b
d

((1, 2, 3), (4, 5))

In [18]:
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [19]:
max(e)

3

In [20]:
min(e)

1

In [22]:
# List to Tuple

l = [1,2,3,4]
l = tuple(l)
l

(1, 2, 3, 4)

# Variable length input and output

In [23]:
def sum(a,b):
    return a + b

print(sum(4,5,6))

TypeError: sum() takes 2 positional arguments but 3 were given

In [31]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)
    ans = a+b
    for i in more:
        ans += i 
    return sum
print(sum2(2,3,4,5))

2
3
(4, 5)
<function sum at 0x000001BD45086B90>